<!DOCTYPE html>
<html>
  <head>
    <title>{title}</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src='/js/jquery.min.js'></script>
    <script src='/js/client.js'></script>
  </head>
  <body>
    {+content}{/content}
  </body>
</html>