body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
table {
  border: none;
  width: 100%; 
  border: 1;
  margin-top: 44px;
}
td {
  border: 3px solid #000;
  min-height: 100px;
  height: 100px;
  text-align: center;
  position: relative;
}
td div {
  font-size: 5em;
  position: absolute;
  top: 0;
  left: 50%;
  width: 44px;
  margin-top: 11px;
  margin-left: -22px;
}
td:hover {
  border: 3px solid green ;
  background: rgba(0,128,0, 0.2);
}
#zone {
  padding: 10px 30px;
  height:100%; 
  box-shadow: 0px 0px 10px green;
  border-radius: 10px;
  min-height: 50px;
  overflow:hidden;
  margin: 0 auto;
}
.wrap-turn {
  float: left;
}
.wrap-players {
  float: right;
}